@import '../node_modules/swiper/dist/css/swiper.css';

body {
    font-family: Open Sans;
}

.bgr-img {
    background-image: url(bg.png);
    opacity: 0.2;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -9999999;
}

.header {
    font-size: 63px;
    font-weight: 700;
    color: #452e76;
    text-align: center;
    margin: 170px 0px;
}

.person-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.person {
    margin: 20px 30px 20px 30px;
    text-align: center;
    width: 210px;
}
.person__icon {
    border-radius: 100%;
    display: inline;
    width:210px;
}
.person__name {
    color: #452e76;
    font-size: 20px;
    margin: 10px 0px;
}
.person__role {
    color: #48c3dc;
    font-size: 14px;
    margin: 4px 0px;
}
.person__location {
    color: #808080;
    font-size: 14px;
    margin: 4px 0px;
}

.swiper-container {

}

.swiper-slide
.person {
    margin: 20px 30px 20px 30px;
    text-align: center;
    width: 400px;
}
.swiper-slide
.person__icon {
    border-radius: 100%;
    display: inline;
    width:210px;
}
.swiper-slide
.person__name {
    color: #452e76;
    font-size: 20px;
    margin: 10px 0px;
}
.swiper-slide
.person__role {
    color: #48c3dc;
    font-size: 14px;
    margin: 4px 0px;
}
.swiper-slide
.person__location {
    color: #808080;
    font-size: 14px;
    margin: 4px 0px;
}
